### 연습문제와 추가 문법으로 정리하는 pandas

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">1. 00_data/olist_customers_dataset.csv 파일 pandas dataframe 으로 읽어오기 (데이터프레임 변수 이름은 doc 로 하기로 함)</font><br>
</div>

In [18]:
import pandas as pd

doc = pd.read_csv('00_data/olist_customers_dataset.csv', encoding='utf-8-sig')
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">2. 처음 5개 열 확인하기</font><br>
</div>

In [19]:
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">3. 전체 record 수(행 수) 확인하기</font><br>
</div>

In [20]:
doc.shape

(99441, 5)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">4. 전체 열의 수 확인하기</font><br>
</div>

In [30]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">5. 열의 이름 리스트로 가져오기</font><br>
</div>

In [21]:
doc.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">6. 인덱스 확인하기</font><br>
</div>

In [22]:
doc.index

RangeIndex(start=0, stop=99441, step=1)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">7. 다섯 숫자 요약(5 number summary) 확인하기 </font><br>
</div>

In [23]:
doc.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

### 추가 문법 pandas.DataFrame.copy
- 데이터프레임 중 일부를 선택 후, 조작하면 해당 데이터프레임도 변경
- copy() 를 통해, 복사본을 만들어서 조작하여, 원본 데이터프레임은 보존 가능

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">8. customer_zip_code_prefix, customer_city, customer_state 컬럼만 가져오기 (데이터프레임 변수 이름은 doc2로 하기로 함)</font><br>
</div>

In [24]:
doc2 = doc[['customer_zip_code_prefix', 'customer_city', 'customer_state']].copy()

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">9. customer_city 가 sao paulo 인 레코드(행)만 가져오기 (데이터프레임 변수 이름은 doc3 으로 하기로 함)</font><br>
    - 레코드(행) 수 확인도 해보기
</div>

In [25]:
doc3 = doc[doc['customer_city']== 'sao paulo']
doc3.shape

(15540, 5)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">10. customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [27]:
doc2['customer_city'].value_counts()

sao paulo                 15540
rio de janeiro             6882
belo horizonte             2773
brasilia                   2131
curitiba                   1521
                          ...
missi                         1
fontoura xavier               1
sabaudia                      1
erere                         1
barao ataliba nogueira        1
Name: customer_city, Length: 4119, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">11. doc 데이터프레임에서 customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    1. groupby 를 써서 customer_city 를 기준으로 행의 갯수를 count 하세요 (새로운 데이터프레임 변수 이름은 doc4로 하기로 함)<br>
    2. doc4를 통해 customer_city 수도 확인해보세요 (데이터프레임 레코드(행) 수를 확인해보면 됩니다.)<br>
</div>

In [36]:
doc4

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,3,3,3,3
abadiania,1,1,1,1
abaete,12,12,12,12
abaetetuba,11,11,11,11
abaiara,2,2,2,2
...,...,...,...,...
xinguara,9,9,9,9
xique-xique,3,3,3,3
zacarias,2,2,2,2
ze doca,5,5,5,5
zortea,2,2,2,2

In [29]:
doc4 = doc.groupby('customer_city').count()
doc4.shape

(4119, 4)

### 추가 문법 이해 (정렬, sort_values(), sort_index())
1. groupby(기준컬럼) 계산시, 기준컬럼은 인덱스로 설정이 되고, 해당 컬럼값을 기반으로 자동 정렬됨
2. 데이터프레임.sort_values(by=컬럼명, ascending=False) 
   - ascending=True: 오름차순 (디폴트)
   - ascending=False: 내림차순
3. 시리즈.sort_values(ascending=True)
4. 데이터프레임/시리즈.sort_index(ascending=True): 인덱스 기준 정렬

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">12. doc4에서 가장 레코드(행)의 수가 많은 customer_city 를 확인해보세요</font><br>
    1. doc4의 customer_id 를 기준으로 정렬하고, 가장 상단의 한 행만 출력하기<br>
</div>

In [72]:
doc4.sort_values(by = 'customer_id' ,ascending=False).head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
sao paulo,15540,15540,15540,15540

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">13. doc 에서 customer_city 를 인덱스로 만들고, 알파벳 순으로 인덱스를 정렬해보세요</font><br>
</div>

In [41]:
doc.set_index('customer_city').sort_index()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,a23e3f9a2b656b23b7e52075964b42cd,afddf43a03a9941624ed42c0b2c17280,38540,MG
abadia dos dourados,9e01f714a2b3b8962c222cf2b74c20dc,e1feae9083c4c2895ddf6dc80526a85d,38540,MG
abadia dos dourados,f11eb8f0b8b87510a93e3e1aa10b0ade,64ee476500a01beb94df40f97a108c50,38540,MG
abadiania,576d71ddb21b21763cfedce73b902180,8d76b559181609308fcae630ea64cd61,72940,GO
abaete,5e9e1ae42e02df93e9a591e86fd531a3,28af9604f7830ef6d1230fb575c39eb1,35620,MG
...,...,...,...,...
ze doca,1052e334b46dd1e9876946d6372a363e,c933181d09535cb6bdfb1c0160323bd9,65365,MA
ze doca,d8b3ef6f73de33ae716e94d2478cc080,9ef06526b8e57a567ed6f1dce7ab0320,65365,MA
ze doca,fc87e5c06780700952aa42998a22968f,d4798889fe74026a739ca0be9d2dccb8,65365,MA
zortea,0a466d490a3c2fcc1e7177f4809ec7dd,d5a5ceb83234eeb855268d7fce7f54ea,89633,SC
zortea,e046f992a304cc92e1b00d7fccdf1c42,09a3f87b74828b274d73ee9dfef43b68,89633,SC

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">14.  doc2에서 customer_state 기준으로 행의 갯수를 확인해보세요</font><br>
   - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [44]:
doc2['customer_state'].shape

(99441,)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">15. doc2에서 customer_state 갯수를 확인해보세요</font><br>
</div>

In [43]:
doc2['customer_state'].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">16. doc4에서 customer_city 갯수가 1000개 이상인 customer_city 갯수만 확인해보세요</font><br>
</div>

In [73]:
import pandas as pd

doc = pd.read_csv('00_data/olist_customers_dataset.csv', encoding='utf-8-sig')
doc4 = doc.groupby('customer_city').count()
doc4.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,3,3,3,3
abadiania,1,1,1,1
abaete,12,12,12,12
abaetetuba,11,11,11,11
abaiara,2,2,2,2

In [76]:
doc4[doc4['customer_id'] >= 1000].shape

(9, 4)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">17. doc4에서 customer_city 갯수가 1000개 이상인 customer_city 이름을 확인해보세요</font><br>
</div>

In [77]:
doc4[doc4['customer_id'] >= 1000].index

Index(['belo horizonte', 'brasilia', 'campinas', 'curitiba', 'guarulhos',
       'porto alegre', 'rio de janeiro', 'salvador', 'sao paulo'],
      dtype='object', name='customer_city')

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">18. doc에서 결측치가 각 컬럼에 있는지 확인해보세요</font><br>
</div>

In [58]:
doc.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### 추가 문법 이해 (to_list())
1. 시리즈.to_list()
   - 컬럼값을 리스트 타입으로 리턴

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">19. doc에서 중복된 customer_city 를 가진 행을 삭제한 후, customer_city 이름만 가져와보세요</font><br>
</div>

In [81]:
doc = doc.drop_duplicates(subset = 'customer_city', keep = 'first')
doc['customer_city'].to_list()

['franca',
 'sao bernardo do campo',
 'sao paulo',
 'mogi das cruzes',
 'campinas',
 'jaragua do sul',
 'timoteo',
 'curitiba',
 'belo horizonte',
 'montes claros',
 'rio de janeiro',
 'lencois paulista',
 'caxias do sul',
 'piracicaba',
 'guarulhos',
 'pacaja',
 'florianopolis',
 'aparecida de goiania',
 'santo andre',
 'goiania',
 'cachoeiro de itapemirim',
 'sao jose dos campos',
 'sao roque',
 'camacari',
 'resende',
 'sumare',
 'novo hamburgo',
 'sao luis',
 'sao jose',
 'santa barbara',
 'ribeirao preto',
 'ituiutaba',
 'taquarituba',
 'sao jose dos pinhais',
 'barrinha',
 'parati',
 'dourados',
 'trindade',
 'cascavel',
 'fortaleza',
 'brasilia',
 'pelotas',
 'porto alegre',
 'salto',
 'jundiai',
 'cacapava',
 'sao vicente',
 'uberlandia',
 'botelhos',
 'sao goncalo',
 'araucaria',
 'nova iguacu',
 'areia branca',
 'campos dos goytacazes',
 'sao carlos',
 'itajuba',
 'cruz das almas',
 'vassouras',
 'feira de santana',
 'niteroi',
 'sobral',
 'divinopolis',
 'paraiba do sul',
 'paulista',
 'carapicuiba',
 'bom principio',
 'astolfo dutra',
 'marialva',
 'sao jose do rio preto',
 'cabo frio',
 'contagem',
 'cafeara',
 'sao joaquim da barra',
 'foz do iguacu',
 'suzano',
 'timbo',
 'camboriu',
 'nova bassano',
 'rio grande',
 'braganca paulista',
 'barra do garcas',
 'embu',
 'urussanga',
 'silvianopolis',
 'gameleiras',
 'belem',
 'pocos de caldas',
 'santos',
 'piracaia',
 'sinop',
 'guaruja',
 'barueri',
 'feliz',
 'jambeiro',
 'ipatinga',
 'tupa',
 'blumenau',
 'moncoes',
 'balneario camboriu',
 'vargem grande',
 'rio brilhante',
 'eugenopolis',
 'paulinia',
 'apucarana',
 'recife',
 'osasco',
 'valinhos',
 'manaus',
 'cidreira',
 'santiago',
 'sao sepe',
 'alta floresta',
 'jaboatao dos guararapes',
 'ibatiba',
 'hortolandia',
 'cotia',
 'macae',
 'saudades',
 'macapa',
 'salto de pirapora',
 'taboao da serra',
 'bom jesus',
 'santa cruz do rio pardo',
 'diadema',
 'santa ines',
 'serrinha',
 'votorantim',
 'itatiaia',
 'duque de caxias',
 'varre-sai',
 'vila velha',
 'mangaratiba',
 'atibaia',
 'salvador',
 'maceio',
 'birigui',
 'petropolis',
 'sao pedro',
 'jaguariaiva',
 'franco da rocha',
 'pindamonhangaba',
 'irati',
 'ribeira',
 'barbacena',
 'limoeiro',
 'espigao do oeste',
 'belford roxo',
 'coronel fabriciano',
 'itanhaem',
 'bebedouro',
 'americana',
 'uba',
 'arapongas',
 'vinhedo',
 'itajai',
 'bauru',
 'pradopolis',
 'aripuana',
 'guaratinga',
 'ponta pora',
 'aracatuba',
 'volta redonda',
 'maringa',
 'araraquara',
 'matipo',
 'santo antonio da patrulha',
 'barra mansa',
 'diamantina',
 'mairinque',
 'capitao leonidas marques',
 'sao sebastiao do paraiso',
 'rosario do sul',
 'itaguai',
 'paraopeba',
 'guarapuava',
 'crisolita',
 'pirai',
 'linhares',
 'agudos',
 'sao joao de meriti',
 'navegantes',
 'pirassununga',
 'faxinal dos guedes',
 'criciuma',
 'nova venecia',
 'passo fundo',
 'ibia',
 'manhuacu',
 'altamira',
 'aperibe',
 'cuiaba',
 'canoas',
 'cubatao',
 'campo limpo paulista',
 'cambe',
 'itaquaquecetuba',
 'sao caetano do sul',
 'sao goncalo do rio abaixo',
 'rolandia',
 'tres coracoes',
 'cacapava do sul',
 'sao joao nepomuceno',
 'leme',
 'araras',
 'cortes',
 'brusque',
 'montenegro',
 'itaberai',
 'santa rosa de viterbo',
 'agua fria de goias',
 'marau',
 'curvelo',
 'juiz de fora',
 'mogi-guacu',
 'guaratingueta',
 'paranagua',
 'lins',
 'campo bom',
 'sertaozinho',
 'tres lagoas',
 'jau',
 'campos de julio',
 'saquarema',
 'artur nogueira',
 'uaua',
 'jandira',
 'concordia',
 'nova friburgo',
 'sorocaba',
 'ponte nova',
 'araquari',
 'muriae',
 'nova lima',
 'inhumas',
 'italva',
 'tres rios',
 'santa maria',
 'itagiba',
 'paracatu',
 'xaxim',
 'laranjeiras do sul',
 'itapiuna',
 'formosa',
 'ivoti',
 'juazeiro',
 'ponta grossa',
 'campina grande',
 'maua',
 'salgueiro',
 'lorena',
 'toledo',
 'sao pedro da aldeia',
 'vianopolis',
 'arapiraca',
 'porto seguro',
 'ariquemes',
 'presidente getulio',
 'rio negro',
 'ribeirao pires',
 'sao jose da coroa grande',
 'agua doce do norte',
 'anapolis',
 'guararapes',
 'farroupilha',
 'almenara',
 'rio das ostras',
 'gravatai',
 'brumado',
 'marilia',
 'itabira',
 'claudia',
 'para de minas',
 'miguelopolis',
 'terra roxa',
 'araguari',
 'lages',
 'embu das artes',
 'limeira',
 'taubate',
 'santa fe do sul',
 'caieiras',
 'carangola',
 'chapada do norte',
 'loanda',
 'passa tres',
 'aracoiaba da serra',
 'itaborai',
 'vitoria',
 'sao bento do sul',
 'indaiatuba',
 'boituva',
 'teresopolis',
 'pinhalzinho',
 'petrolina',
 'natal',
 'barreiras',
 'januaria',
 'ipiabas',
 'firminopolis',
 'joinville',
 'mococa',
 'valenca',
 'sao miguel do oeste',
 'jales',
 'rio formoso',
 'angra dos reis',
 'alfredo chaves',
 'itapetinga',
 'gurupi',
 'nucleo residencial pilar',
 'coromandel',
 'charqueada',
 'itau de minas',
 'ibiruba',
 'bertioga',
 'ipiau',
 'matozinhos',
 'teresina',
 'entre rios',
 'juina',
 'mairipora',
 'marechal candido rondon',
 'avare',
 'icem',
 'sao sebastiao',
 'serra',
 'mirassol',
 'taperuaba',
 'alfenas',
 'leopoldina',
 'sao joao da boa vista',
 'parnamirim',
 'teixeira de freitas',
 'joao pessoa',
 'chacara',
 'rio novo do sul',
 'guapore',
 'rio branco',
 'ferraz de vasconcelos',
 'petrolandia',
 'araruna',
 'gravata',
 'alegre',
 'londrina',
 'senhor do bonfim',
 'santana de parnaiba',
 'piratininga',
 'monte carmelo',
 'ipiranga',
 'jacarei',
 'picos',
 'una',
 'taguai',
 'peabiru',
 'conquista',
 'bicas',
 'forquilha',
 'guaicara',
 'santa vitoria',
 'adamantina',
 'rio claro',
 'sao jose de uba',
 'sorriso',
 'aracaju',
 'conselheiro lafaiete',
 'taguatinga',
 'tiangua',
 'paranaiba',
 'david canabarro',
 'itarare',
 'cajueiro',
 'cruzeiro',
 'santa cruz do sul',
 'presidente epitacio',
 'castanhal',
 'cariacica',
 'bom jesus dos perdoes',
 'urucurituba',
 'olinda',
 'sao jose do rio pardo',
 'guapimirim',
 'vargem grande paulista',
 'chapeco',
 'videira',
 'canapi',
 'pontal do parana',
 'bento goncalves',
 'caceres',
 'bituruna',
 'sao bento do sapucai',
 'mage',
 'forquilhinha',
 'itaberaba',
 'gramado',
 'guacui',
 'pato branco',
 'itanhem',
 'palmas',
 'bage',
 'francisco morato',
 'cosmopolis',
 'carmo',
 'armacao dos buzios',
 'santa maria da vitoria',
 'pedro leopoldo',
 'tres marias',
 'santo antonio de padua',
 'porto feliz',
 'gaspar',
 'palhoca',
 'pouso alegre',
 'guaiuba',
 'fraiburgo',
 'aurea',
 'botucatu',
 'corumba',
 'cajamar',
 'queimados',
 'sao jorge do ivai',
 'nova laranjeiras',
 'guaxupe',
 'osvaldo cruz',
 'ivora',
 'anaurilandia',
 'caraguatatuba',
 'regeneracao',
 'bilac',
 'faxinal',
 'pedro velho',
 'uberaba',
 'viamao',
 'cachoeira de minas',
 'coelho neto',
 'itajobi',
 'carmo do rio claro',
 'marica',
 'campo novo do parecis',
 'boa vista',
 'ipameri',
 'carlos barbosa',
 'anicuns',
 'rio bananal',
 'lavras da mangabeira',
 'balsamo',
 'guariba',
 'sao vendelino',
 'campo mourao',
 'aracati',
 'santo antonio do descoberto',
 'santo amaro da imperatriz',
 'betim',
 'vicosa',
 'dom eliseu',
 'campo largo',
 'santa rosa de lima',
 'quissama',
 'mirandopolis',
 'itapevi',
 'francisco beltrao',
 "dias d'avila",
 'novo horizonte',
 'poa',
 'querencia',
 'campo grande',
 'pedreira',
 'pariquera-acu',
 'itabaianinha',
 'pitangui',
 'araruama',
 'campo formoso',
 'guanambi',
 'itapolis',
 'pederneiras',
 'itabirito',
 'itaipava',
 'arroio do sal',
 'glaura',
 'lagoa vermelha',
 'mantena',
 'peruibe',
 'tubarao',
 'bonfim',
 'alvorada',
 'patrocinio',
 'mineiros',
 'itabuna',
 'tijucas',
 'santo antonio de jesus',
 'canarana',
 'itapecerica da serra',
 'nova prata do iguacu',
 'treze tilias',
 'anchieta',
 'quatigua',
 'iturama',
 'tres de maio',
 'santa rita do passa quatro',
 'porto esperidiao',
 'bonfim paulista',
 'cajuru',
 'cacador',
 'paragominas',
 'boa esperanca do sul',
 'tres pontas',
 'juazeiro do norte',
 'bambui',
 'comendador levy gasparian',
 'sao miguel do aleixo',
 'palmeira dos indios',
 'cerquilho',
 'saudade do iguacu',
 'ipaussu',
 'alto paraiso de goias',
 'santa isabel',
 'quirinopolis',
 'caruaru',
 'casimiro de abreu',
 'chavantes',
 'ecoporanga',
 'cachoeira paulista',
 'rio verde',
 'maracanau',
 'canoinhas',
 'ituverava',
 'buriti dos lopes',
 'rio do antonio',
 'guaranta',
 'santa luzia',
 'tucurui',
 'paranavai',
 'pinhais',
 'governador valadares',
 'trajano de moraes',
 'caete',
 'abaetetuba',
 'lavras',
 'coronel joao sa',
 'divino',
 'macaubas',
 'lucelia',
 'brejo da madre de deus',
 'carai',
 'corbelia',
 'varginha',
 'ouro preto',
 'prado',
 'colniza',
 'piuma',
 'rancharia',
 'barretos',
 'eunapolis',
 'floresta',
 'sao jose do norte',
 'rio bonito',
 'vargem bonita',
 'monte mor',
 'valente',
 'balsas',
 'nhandeara',
 'lauro de freitas',
 'osorio',
 'machado',
 'sao leopoldo',
 'soledade',
 'assis',
 'guarapari',
 'santo antonio do caiua',
 'esteio',
 'cambuci',
 'campina grande do sul',
 'baixo guandu',
 'fernao',
 'ibitinga',
 'santa cruz das palmeiras',
 'vila muriqui',
 'sao mateus',
 'piracuruca',
 'cordeiro',
 'cachoeira do sul',
 'barra do pirai',
 'castro',
 'ico',
 'sete lagoas',
 'itumbiara',
 'aluminio',
 'jatai',
 'frederico westphalen',
 'goioere',
 'sao jose da tapera',
 'porto uniao',
 'cocalinho',
 'curitibanos',
 'campos novos',
 'ubatuba',
 'monte santo de minas',
 'ribeirao das neves',
 'sao simao',
 'urutai',
 'itaobim',
 'liberdade',
 'arcos',
 'ribeirao',
 'patos de minas',
 'penapolis',
 'eusebio',
 'cordeiros',
 'victor graeff',
 'santa rita do araguaia',
 'poxoreu',
 'ananas',
 'conceicao dos ouros',
 'alagoinhas',
 'sao joao da barra',
 'lindoia',
 'bonfinopolis',
 'ibiam',
 'morungaba',
 'andradina',
 'tatui',
 'mata verde',
 'cornelio procopio',
 'itapipoca',
 'queluz',
 'godoy moreira',
 'iracemapolis',
 'buritizeiro',
 'xique-xique',
 'uruacu',
 'japi',
 'itauna',
 'sao francisco de assis',
 'pitangueiras',
 'ze doca',
 'dracena',
 'cachoeiras de macacu',
 'barauna',
 'formiga',
 'rodeio',
 'jequie',
 'juvenilia',
 'poco fundo',
 'amparo',
 'lauro muller',
 'japeri',
 'ourinhos',
 'lagoa dos gatos',
 'embu-guacu',
 'nossa senhora do remedio',
 'tambau',
 'orlandia',
 'bananeiras',
 'sao joao do manhuacu',
 'sarandi',
 'congonhas',
 'boa esperanca',
 'sandolandia',
 'garca',
 'descalvado',
 'guaracai',
 'aruana',
 'inga',
 'taio',
 'gaurama',
 'praia grande',
 'janauba',
 'nova monte verde',
 'mongagua',
 'monte alto',
 'sao joao do piaui',
 'primavera do leste',
 'seropedica',
 'indaial',
 'teofilo otoni',
 'santa terezinha',
 'planaltina',
 'caravelas',
 'muritiba',
 'itatiba',
 'piumhii',
 'pitanga',
 'capelinha',
 'ipero',
 'tarabai',
 'aparecida do taboado',
 'maioba',
 'monnerat',
 'sao lourenco do sul',
 'biguacu',
 'venda nova do imigrante',
 'arapoti',
 'fazenda rio grande',
 'senges',
 'aracruz',
 'canela',
 'porto franco',
 'veranopolis',
 'candiota',
 'carmo do paranaiba',
 'itacare',
 'desembargador otoni',
 'joanopolis',
 'registro',
 'ipiranga do norte',
 'felipe guerra',
 'dumont',
 'itapetininga',
 'bom despacho',
 'lagoa santa',
 'estacao',
 'panorama',
 'palmares',
 'prata',
 'santa adelia',
 'iguaba grande',
 'sarzedo',
 'dourado',
 'alcinopolis',
 'limoeiro do norte',
 'ibiraci',
 'ilhabela',
 'icara',
 'paiva',
 'batatais',
 'formoso do araguaia',
 'itapaci',
 'fernandopolis',
 'miguel pereira',
 'tocos',
 'campos do jordao',
 'catalao',
 'sao jose da lapa',
 'marituba',
 'arapora',
 'turvo',
 'rubiataba',
 'guaruja do sul',
 'pedra bela',
 'perdizes',
 'jesuania',
 'antonio carlos',
 'itapecerica',
 'monte belo',
 'mossoro',
 'piraju',
 'encruzilhada do sul',
 'igaratinga',
 'sao luis de montes belos',
 'santa rosa',
 'lagoinha',
 'redentora',
 'cuite',
 'coxim',
 'lucas do rio verde',
 'ibirataia',
 'olimpia',
 'cedro',
 'mario campos',
 'umuarama',
 'nova xavantina',
 'sao borja',
 'aguai',
 'itapira',
 'uniao da vitoria',
 'nova odessa',
 'itapuranga',
 'nova cruz',
 'apuiares',
 'almirante tamandare',
 'correia pinto',
 'itamarandiba',
 'juscimeira',
 'ipora',
 'cedro de sao joao',
 "santa barbara d'oeste",
 'sao joao da urtiga',
 'valparaiso de goias',
 'jussara',
 'capao da canoa',
 'araxa',
 'campo belo',
 'monte aprazivel',
 'bom jesus do querendo',
 'socorro',
 'catanduva',
 'monte castelo',
 'tabatinga',
 'bayeux',
 'ijui',
 'tangara da serra',
 'campos borges',
 'palma',
 'minacu',
 'miracema',
 'taruma',
 'sao francisco do sul',
 'cedral',
 'camaragibe',
 'lajeado',
 'cerqueira cesar',
 'frutal',
 'igarata',
 'novo gama',
 'sapucaia do sul',
 'juquitiba',
 'terra boa',
 'joao monlevade',
 'porangatu',
 'formosa da serra negra',
 'rafard',
 'rainha do mar',
 'pontal',
 'rio do sul',
 'nilopolis',
 'maracaju',
 'santo augusto',
 'banabuiu',
 'buenopolis',
 'barbalha',
 'quintana',
 'chorrocho',
 'votuporanga',
 'poco verde',
 'cipo-guacu',
 'santarem',
 'santa clara do sul',
 'ibiuna',
 'capivari',
 'arraias',
 'patos',
 'sao francisco do guapore',
 'vitoria da conquista',
 'urucuca',
 'vacaria',
 'campos altos',
 'nossa senhora do socorro',
 'cruzeiro do sul',
 'cataguases',
 'varzea grande',
 'santa rita do sapucai',
 'jaboticabal',
 'ilha comprida',
 'brasilia de minas',
 'moreno',
 'capanema',
 'tombos',
 'espumoso',
 'ouro branco',
 'valenca do piaui',
 'igrejinha',
 'engenheiro coelho',
 'parauapebas',
 'afonso claudio',
 'sao bernardo',
 'salto do jacui',
 'pires do rio',
 'astorga',
 'medina',
 'porto ferreira',
 'aracariguama',
 'hidrolandia',
 'virginopolis',
 'soledade de minas',
 'casca',
 'sapiranga',
 'angatuba',
 'ibirapua',
 'itupeva',
 'espera feliz',
 'penedo',
 'ibirite',
 'miracatu',
 'francisco santos',
 'paracambi',
 'cardoso',
 'floriano',
 'rondonopolis',
 'barra de sao francisco',
 'lavinia',
 'guajara-mirim',
 'guimaraes',
 'sao tome',
 'medianeira',
 'conceicao das pedras',
 'rinopolis',
 'capim grosso',
 'guaira',
 'euclides da cunha paulista',
 'lagoa da prata',
 'nanuque',
 'luis antonio',
 'senador firmino',
 'viradouro',
 'itabera',
 'cambara',
 'sananduva',
 'tapera',
 'tupaciguara',
 'colombo',
 'ananindeua',
 'coribe',
 'rio doce',
 'mogi mirim',
 'tocos do moji',
 'beberibe',
 'formosa do rio preto',
 'claudio',
 'rio paranaiba',
 'humberto de campos',
 'camocim de sao felix',
 'santo antonio de posse',
 'mesquita',
 'passa quatro',
 'belo oriente',
 'alto araguaia',
 'igarassu',
 'porto velho',
 'cajazeiras',
 'garopaba',
 'rio azul',
 'dois corregos',
 'sooretama',
 'cruzeiro do oeste',
 'nazare paulista',
 'riversul',
 'iguaracu',
 'maracas',
 'parana',
 'reboucas',
 'ametista do sul',
 'itu',
 'cacu',
 'vespasiano',
 'lindolfo collor',
 'sao lourenco',
 'santana do sobrado',
 'cafelandia',
 'ibiapina',
 'schroeder',
 'sao joao do oriente',
 'matao',
 'itanhandu',
 'santo angelo',
 'capinopolis',
 'colatina',
 'nova mutum',
 'munhoz de melo',
 'ibate',
 'unai',
 'medeiros neto',
 'anta',
 'ouroeste',
 'central',
 'nova independencia',
 'itapema',
 'sao jose do cedro',
 'camutanga',
 'ipumirim',
 'cristalia',
 'andira',
 'panelas',
 'comodoro',
 'domingos martins',
 'tangua',
 'sao gotardo',
 'araguaina',
 'ilheus',
 'louveira',
 'imbituba',
 'ouricuri',
 'itatinga',
 'santo cristo',
 "arraial d'ajuda",
 'piracanjuba',
 'russas',
 'lambari',
 'vargem alta',
 'sacra familia do tingua',
 'assis chateaubriand',
 'lago da pedra',
 'unistalda',
 'sao joao evangelista',
 'paramirim',
 'goias',
 'paracuru',
 'cruz alta',
 'presidente bernardes',
 'pains',
 'sao goncalo do rio preto',
 'jacinto machado',
 'sobralia',
 'maraba',
 'paraibuna',
 'toropi',
 'jauru',
 'cristalandia',
 'castelo do piaui',
 'ibipora',
 'presidente dutra',
 'vera cruz',
 'paulo frontin',
 ...]

### 추가 문법 이해 (pivot_table)

- pivot_table(데이터프레임, values=None, index=None, aggfunc='mean', fill_value=None, margins=False, margins_name='All')
  - values: 분석할 열 이름 리스트
  - index: 인덱스로 들어갈 키 열
  - aggfunc: 계산 방법, 간단히 {분석할열이름:계산방법} 으로 사전 형식으로 작성
    - 주요 계산 방법: sum(합), mean(평균), median(중앙값), std(표준편차)
  - fill_value: 결측치 대체 값
  - margins: 모든 데이터의 총 분석 결과를 추가함 (예, 총 합)
  - margins_name: 모든 데이터의 총 분석 결과의 이름

In [62]:
import pandas as pd

doc_covid = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv', encoding='utf-8-sig')
doc_covid.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">20. doc_covid 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로 만드세요</font><br>
- 결측치는 0으로 만드세요
</div>

In [80]:
pd.pivot_table(doc_covid, 
               index = ['Country_Region'], 
               values = ['Confirmed'], 
               aggfunc = {'Confirmed':'median'}, 
               margins = True, 
               fill_value = 0, 
               margins_name = 'total').tail()

                    Confirmed
Country_Region
Vietnam                 218.0
West Bank and Gaza      134.0
Zambia                   36.0
Zimbabwe                  8.0
total                     7.0

In [82]:
doc_covid2 = pd.pivot_table(doc_covid, 
                            index=['Country_Region'], 
                            values=['Confirmed'],
                            aggfunc={'Confirmed': 'median'}, 
                            fill_value=0
                           )
doc_covid2.head()

                Confirmed
Country_Region
Afghanistan         237.0
Albania             259.0
Algeria             847.0
Andorra             390.0
Angola                8.0

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">21. doc_covid 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로 만들고, 총 값을 'Total' 을 인덱스 값으로 하는 record 로 추가하세요</font><br>
- 결측치는 0으로 만드세요
</div>

In [85]:
doc_covid2 = pd.pivot_table(doc_covid, 
                            index=['Country_Region'], 
                            values=['Confirmed'],
                            aggfunc={'Confirmed': 'median'}, 
                            fill_value=0,
                            margins=True,
                            margins_name='Total'
                           )
doc_covid2

                    Confirmed
Country_Region
Afghanistan             237.0
Albania                 259.0
Algeria                 847.0
Andorra                 390.0
Angola                    8.0
...                       ...
Vietnam                 218.0
West Bank and Gaza      134.0
Zambia                   36.0
Zimbabwe                  8.0
Total                     7.0

[181 rows x 1 columns]